p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

mat-toolbar.mat-primary {
  background: black;
  color: lightgreen;
}
mat-toolbar-row{
  background: lightgreen;
  color: black;
}
