<div *ngIf="items && movies && people&&tvshows&&companies&&collections">



  <mat-sidenav-container class="example-container">

    <mat-sidenav-content>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
            <mat-icon>search</mat-icon> All
          </ng-template>




          <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowHeight="3:4.7" >
            <mat-grid-tile *ngFor="let i of items.data.results ; let j = index "   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host="">
              <div *ngIf="i.media_type === 'person'">

              <figure class="mat-figure" >


                <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
                <ng-template #trueB>
                  <div *ngIf = 'i.profile_path === null; then trueC else falseC'></div>


                  <ng-template #trueC>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                  </ng-template>
                  <ng-template #falseC>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.profile_path}}"  >
                  </ng-template>

                  <a [routerLink]="['/people_details',i.id]">
                    <div class="top-left" layout = "column" layout-padding (mouseout)="mouseout()">
                      <div flex ="20">
                        <p class="title"><b>{{i.name}}</b></p>

                      </div>

                      <div flex ="60">
                        <p>{{(i.biography.length > 350)  ? (i.biography | slice:0:350) + '....' : (i.biography) }}</p>

                      </div>
                      <div flex="10"  class="rate" *ngIf="i.popularity > 0">

                        <mat-icon class="star_rate">star_rate</mat-icon>{{i.popularity| number: '1.1-1' }}


                      </div>
                      <div flex="10"  class="rate" *ngIf="i.birthday">

                        <mat-icon>date_range</mat-icon>{{i.birthday}}


                      </div>



                    </div></a>
                </ng-template>
                <ng-template #falseB>

                  <div *ngIf = 'i.profile_path === null; then trueA else falseA'></div>

                  <ng-template #trueA>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                  </ng-template>
                  <ng-template #falseA>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.profile_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                  </ng-template>
                </ng-template>




                <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.name}}</mat-grid-tile-footer>


              </figure>
              </div>
              <div *ngIf="i.media_type === 'movie'">


                <figure class="mat-figure" >


                  <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
                  <ng-template #trueB>
                    <div *ngIf = 'i.poster_path === null; then trueC else falseC'></div>


                    <ng-template #trueC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                    </ng-template>
                    <ng-template #falseC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}"  >
                    </ng-template>

                    <a [routerLink]="['/movie_details',i.id]">
                      <div class="top-left" layout = "column" layout-padding (mouseout)="mouseout()">
                        <div flex ="20">
                          <p class="title"><b>{{i.title}}</b></p>

                        </div>

                        <div flex ="60">
                          <p>{{(i.overview.length > 350)  ? (i.overview | slice:0:350) + '....' : (i.overview) }}</p>

                        </div>
                        <div flex="10"  class="rate" *ngIf="i.vote_average > 0">

                          <mat-icon class="star_rate">star_rate</mat-icon>{{i.vote_average}}


                        </div>
                        <div flex="10"  class="rate">

                          <mat-icon>date_range</mat-icon>{{i.release_date}}


                        </div>



                      </div></a>
                  </ng-template>
                  <ng-template #falseB>

                    <div *ngIf = 'i.poster_path === null; then trueA else falseA'></div>

                    <ng-template #trueA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                    </ng-template>
                    <ng-template #falseA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                    </ng-template>
                  </ng-template>




                  <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.title}}</mat-grid-tile-footer>

                </figure>


              </div>
              <div *ngIf="i.media_type === 'tv'">

                <figure class="mat-figure" >


                  <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
                  <ng-template #trueB>
                    <div *ngIf = 'i.poster_path === null; then trueC else falseC'></div>


                    <ng-template #trueC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                    </ng-template>
                    <ng-template #falseC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}"  >
                    </ng-template>

                    <a [routerLink]="['/tvshow_details',i.id]">
                      <div class="top-left" layout = "column" layout-padding (mouseout)="mouseout()">
                        <div flex ="20">
                          <p class="title"><b>{{i.name}}</b></p>

                        </div>

                        <div flex ="60">
                          <p>{{(i.overview.length > 350)  ? (i.overview | slice:0:350) + '....' : (i.overview) }}</p>

                        </div>
                        <div flex="10"  class="rate" *ngIf="i.vote_average > 0">

                          <mat-icon class="star_rate">star_rate</mat-icon>{{i.vote_average}}


                        </div>
                        <div flex="10"  class="rate" *ngIf="i.release_date">

                          <mat-icon>date_range</mat-icon>{{i.release_date}}


                        </div>



                      </div></a>
                  </ng-template>
                  <ng-template #falseB>

                    <div *ngIf = 'i.poster_path === null; then trueA else falseA'></div>

                    <ng-template #trueA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                    </ng-template>
                    <ng-template #falseA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                    </ng-template>
                  </ng-template>




                  <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.name}}</mat-grid-tile-footer>

                </figure>





              </div>



            </mat-grid-tile>
          </mat-grid-list>


          <!--- <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{items.data.poster_path}}" width="200" height="" >--->

          <div *ngIf = 'items.data.total_pages > 1; then morepages else nomorepages'></div>
          <ng-template #morepages>

            <mat-paginator [length]="items.data.total_results"
                           [pageSize]="20"
                           [pageSizeOptions]=""
                           [pageIndex]="0"
                           (page)= "change_pagemulti($event)">

            </mat-paginator>
          </ng-template>

          <ng-template #nomorepages>


          </ng-template>

        </mat-tab>
        <div *ngIf="movies.data.results.length ===0; then truemovies else falsemovies"></div>
        <ng-template #truemovies></ng-template>
        <ng-template #falsemovies>
        <mat-tab label="Tab 2">
          <ng-template mat-tab-label>
            <mat-icon class="textwithicon">movie</mat-icon> Movies
          </ng-template>
          <div class="demo-tab-content">
            <!--{{movies.data |json}}-->

            <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowHeight="3:4.7" >
              <mat-grid-tile *ngFor="let i of movies.data.results ; let j = index "   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host="">

                <figure class="mat-figure" >


                  <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
                  <ng-template #trueB>
                    <div *ngIf = 'i.poster_path === null; then trueC else falseC'></div>


                    <ng-template #trueC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                    </ng-template>
                    <ng-template #falseC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}"  >
                    </ng-template>

                    <a [routerLink]="['/movie_details',i.id]">
                      <div class="top-left" layout = "column" layout-padding (mouseout)="mouseout()">
                        <div flex ="20">
                          <p class="title"><b>{{i.title}}</b></p>

                        </div>

                        <div flex ="60">
                          <p>{{(i.overview.length > 350)  ? (i.overview | slice:0:350) + '....' : (i.overview) }}</p>

                        </div>
                        <div flex="10"  class="rate" *ngIf="i.vote_average > 0">

                          <mat-icon class="star_rate">star_rate</mat-icon>{{i.vote_average}}


                        </div>
                        <div flex="10"  class="rate">

                          <mat-icon>date_range</mat-icon>{{i.release_date}}


                        </div>



                      </div></a>
                  </ng-template>
                  <ng-template #falseB>

                    <div *ngIf = 'i.poster_path === null; then trueA else falseA'></div>

                    <ng-template #trueA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                    </ng-template>
                    <ng-template #falseA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                    </ng-template>
                  </ng-template>




                  <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.title}}</mat-grid-tile-footer>

                </figure></mat-grid-tile>
            </mat-grid-list>


            <div *ngIf = 'movies.data.total_pages > 1; then morepagesmovie else nomorepagesmovie'></div>
            <ng-template #morepagesmovie>
            <mat-paginator [length]="movies.data.total_results"
                           [pageSize]="20"
                           [pageSizeOptions]=""
                           [pageIndex]="0"
                           (page)= "change_pagemovie($event)">

            </mat-paginator>
            </ng-template>
          <ng-template #nomorepagesmovie>

          </ng-template>
          </div>

        </mat-tab>
        </ng-template>
        <div *ngIf="people.data.results.length ===0; then truepeople else falsepeople"></div>
        <ng-template #truepeople></ng-template>
        <ng-template #falsepeople>
        <mat-tab label="Tab 3"> <!--disabled>-->
          <ng-template mat-tab-label>
            <mat-icon>supervisor_account</mat-icon> People
          </ng-template>


          <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowHeight="3:4.7" >
            <mat-grid-tile *ngFor="let i of people.data.results ; let j = index "   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host="">

              <figure class="mat-figure" >


                <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
                <ng-template #trueB>
                  <div *ngIf = 'i.profile_path === null; then trueC else falseC'></div>


                  <ng-template #trueC>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                  </ng-template>
                  <ng-template #falseC>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.profile_path}}"  >
                  </ng-template>

                  <a [routerLink]="['/people_details',i.id]">
                    <div class="top-left" layout = "column" layout-padding (mouseout)="mouseout()">
                      <div flex ="20">
                        <p class="title"><b>{{i.name}}</b></p>

                      </div>

                      <div flex ="60">
                        <p>{{(i.biography.length > 350)  ? (i.biography | slice:0:350) + '....' : (i.biography) }}</p>

                      </div>
                      <div flex="10"  class="rate" *ngIf="i.popularity > 0">

                        <mat-icon class="star_rate">star_rate</mat-icon>{{i.popularity| number: '1.1-1' }}


                      </div>
                      <div flex="10"  class="rate" *ngIf="i.birthday">

                        <mat-icon>date_range</mat-icon>{{i.birthday}}


                      </div>



                    </div></a>
                </ng-template>
                <ng-template #falseB>

                  <div *ngIf = 'i.profile_path === null; then trueA else falseA'></div>

                  <ng-template #trueA>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                  </ng-template>
                  <ng-template #falseA>
                    <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.profile_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                  </ng-template>
                </ng-template>




                <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.name}}</mat-grid-tile-footer>

              </figure></mat-grid-tile>
          </mat-grid-list>





          <div *ngIf = 'people.data.total_pages > 1; then morepagespeople else nomorepagespeople'></div>
          <ng-template #morepagespeople>

            <mat-paginator [length]="people.data.total_results"
                           [pageSize]="20"
                           [pageSizeOptions]=""
                           [pageIndex]="0"
                           (page)= "change_pagepeople($event)">

            </mat-paginator>
          </ng-template>

          <ng-template #nomorepagespeople>


          </ng-template>
        </mat-tab>
        </ng-template>
        <div *ngIf="tvshows.data.results.length ===0; then truetvshows else falsetvshows"></div>
        <ng-template #truetvshows></ng-template>
        <ng-template #falsetvshows>
        <mat-tab label="Tab 4">
          <ng-template mat-tab-label>
            <mat-icon class="textwithicon">tv</mat-icon> Tv Shows
          </ng-template>
          <div class="demo-tab-content">


            <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowHeight="3:4.7" >
              <mat-grid-tile *ngFor="let i of tvshows.data.results ; let j = index "   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host="">

                <figure class="mat-figure" >


                  <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
                  <ng-template #trueB>
                    <div *ngIf = 'i.poster_path === null; then trueC else falseC'></div>


                    <ng-template #trueC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                    </ng-template>
                    <ng-template #falseC>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}"  >
                    </ng-template>

                    <a [routerLink]="['/tvshow_details',i.id]">
                      <div class="top-left" layout = "column" layout-padding (mouseout)="mouseout()">
                        <div flex ="20">
                          <p class="title"><b>{{i.name}}</b></p>

                        </div>

                        <div flex ="60">
                          <p>{{(i.overview.length > 350)  ? (i.overview | slice:0:350) + '....' : (i.overview) }}</p>

                        </div>
                        <div flex="10"  class="rate" *ngIf="i.vote_average > 0">

                          <mat-icon class="star_rate">star_rate</mat-icon>{{i.vote_average}}


                        </div>
                        <div flex="10"  class="rate" *ngIf="i.release_date">

                          <mat-icon>date_range</mat-icon>{{i.release_date}}


                        </div>



                      </div></a>
                  </ng-template>
                  <ng-template #falseB>

                    <div *ngIf = 'i.poster_path === null; then trueA else falseA'></div>

                    <ng-template #trueA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                    </ng-template>
                    <ng-template #falseA>
                      <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                    </ng-template>
                  </ng-template>




                  <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.name}}</mat-grid-tile-footer>

                </figure></mat-grid-tile>
            </mat-grid-list>




            <div *ngIf = 'tvshows.data.total_pages > 1; then morepagestv else nomorepagestv'></div>
            <ng-template #morepagestv>




              <mat-paginator [length]="tvshows.data.total_results"
                             [pageSize]="20"
                             [pageSizeOptions]=""
                             [pageIndex]="0"
                             (page)= "change_pageshows($event)">

              </mat-paginator>
            </ng-template>

            <ng-template #nomorepagestv>


            </ng-template>
          </div>
        </mat-tab>
        </ng-template>


      </mat-tab-group>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
