.example-container {
  position: absolute;
  top: 4vw;
  left: 0vw;
  right: 0vw;
  bottom:0vw;
  background: #eee;

}
.mat-card-image{
  display: block;
  max-width: px;
  max-height: px;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
