<div *ngIf="items">



  <mat-sidenav-container class="example-container" >

    <mat-sidenav-content>
  <mat-tab-group class="demo-tab-group">
    <mat-tab label="Tab 1"  >
      <ng-template mat-tab-label>
        <mat-icon>security</mat-icon>
      </ng-template>


      <div class="background-image" [style.background-image]='back_drop_image'>

        inside the div

      </div>
      <!--{{items.data | json }}-->

      <!---{{items.data | json }}
         <!--- "style="background-image: url('{{back_drop_image}}') " <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{items.data.poster_path}}" width="200" height="" >--->


    </mat-tab>
    <mat-tab label="Tab 2">
      <ng-template mat-tab-label>
        <mat-icon>attach_file</mat-icon>
      </ng-template>
         <!---{{items.data.credits |json}}--->

        <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowWidth="500px" rowHeight="700px">
          <mat-grid-tile *ngFor="let i of items.data.credits.cast"   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host=""
          ><figure class="mat-figure">
              <div *ngIf = 'i.profile_path === null; then trueA else falseA'></div>
              <ng-template #trueA>
                <a [routerLink]="['/people_details',i.id]"> <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png"></a>
              </ng-template>
              <ng-template #falseA>
                <a [routerLink]="['/people_details',i.id]"><img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.profile_path}}"></a>
              </ng-template>

            <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.name}}</mat-grid-tile-footer>
          </figure></mat-grid-tile>
        </mat-grid-list>






    </mat-tab>
    <mat-tab label="Tab 3"> <!--disabled>-->
      <ng-template mat-tab-label>
        <mat-icon>block</mat-icon>
      </ng-template>
      <!--{{items.data.images|json}}-->


      <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowWidth="500px" rowHeight="325px">
        <mat-grid-tile *ngFor="let i of items.data.images.backdrops"   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host=""
        ><figure class="mat-figure">

            <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.file_path}}" alt="Skaret View">


          <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div><mat-icon class="star_rate">star_rate</mat-icon>{{i.vote_average}}</mat-grid-tile-footer>
        </figure></mat-grid-tile>
      </mat-grid-list>






    </mat-tab>


    <mat-tab  label="Tab 4"  >
      <ng-template mat-tab-label>
        <mat-icon>loop</mat-icon>
      </ng-template>
      <div class="demo-tab-content">
        <!---{{items.data.videos.results|json}}-->
        <!---<h1> <mat-icon class="icon-title">local_movies</mat-icon>Trailers</h1>-->
        <mat-grid-list *ngIf="trailersarray" class="mat-grid-list" cols="3" guttersize="5px" rowWidth="700px" rowHeight="600px">
          <mat-grid-tile   *ngFor="let i of items.data.videos.results; let j = index"   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host=""
          ><figure class="mat-figure">
            <iframe *ngIf="trailersarray" width="800" height="500"  [src]="trailersarray[j]"  frameborder="0" allowfullscreen></iframe>

            <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.name}}</mat-grid-tile-footer>
          </figure></mat-grid-tile>
        </mat-grid-list>




      </div>
    </mat-tab>


    <mat-tab label="Tab 5">
      <ng-template mat-tab-label>
        <mat-icon>build</mat-icon>
      </ng-template>
      <!--{{items.data.similar|json}}-->



        <!---<button mat-button (click)="showConfig()">boton</button>--->
        <!---{{items.data.results | json}} <div class="personalized_div" (mouseover)="" >{{overview}}
        <h1> <mat-icon class="icon-title">local_movies</mat-icon>Similar Movies</h1>--->

        <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowHeight="700px" >
          <mat-grid-tile *ngFor="let i of items.data.similar.results;let j = index "   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host=""
          >

            <figure class="mat-figure" >


              <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
              <ng-template #trueB>
                <div *ngIf = 'i.poster_path === null; then trueC else falseC'></div>


                <ng-template #trueC>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                </ng-template>
                <ng-template #falseC>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}"  >
                </ng-template>

                <a [routerLink]="['/movie_details',i.id]" ><div class="top-left"  (mouseout)="mouseout()"><p class="title"><b>{{i.title}}</b></p><p> {{i.overview}} </p>
                  <p class="vote-list"><mat-icon class="star_rate">star_rate</mat-icon>{{i.vote_average}}</p>

                </div></a>
              </ng-template>
              <ng-template #falseB>

                <div *ngIf = 'i.poster_path === null; then trueA else falseA'></div>

                <ng-template #trueA>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                </ng-template>
                <ng-template #falseA>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                </ng-template>
              </ng-template>




              <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.title}}</mat-grid-tile-footer>

            </figure></mat-grid-tile>
        </mat-grid-list>
        <!--{{items.data | json}}
           {{items.data.total_results}}-->


        <mat-paginator [length]="items.data.similar.total_results"
                       [pageSize]="items.data.similar.results.length"
                       [pageSizeOptions]=""
                       [pageIndex]="0"
                       (page)= "change_page($event)">

        </mat-paginator>







    </mat-tab>
    <mat-tab label="Tab 6">
      <ng-template mat-tab-label>
        <mat-icon>thumb_down</mat-icon>
      </ng-template>
      <!--{{items.data.recommendations|json}}-->



        <!---<button mat-button (click)="showConfig()">boton</button>--->
        <!---{{items.data.results | json}} <div class="personalized_div" (mouseover)="" >{{overview}}
        <h1> <mat-icon class="icon-title">local_movies</mat-icon>Similar Movies</h1>--->

        <mat-grid-list class="mat-grid-list" cols="4" guttersize="5px" rowHeight="700px" >
          <mat-grid-tile *ngFor="let i of items.data.recommendations.results;let j = index "   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host=""
          >

            <figure class="mat-figure" >


              <div  *ngIf="verifier[j]; then trueB else falseB"> </div>
              <ng-template #trueB>
                <div *ngIf = 'i.poster_path === null; then trueC else falseC'></div>


                <ng-template #trueC>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" >
                </ng-template>
                <ng-template #falseC>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}"  >
                </ng-template>

                <a [routerLink]="['/movie_details',i.id]"><div class="top-left"  (mouseout)="mouseout()"><p class="title"><b>{{i.title}}</b></p><p> {{i.overview}} </p>
                  <p class="vote-list"><mat-icon class="star_rate">star_rate</mat-icon>{{i.vote_average}}</p>

                </div></a>
              </ng-template>
              <ng-template #falseB>

                <div *ngIf = 'i.poster_path === null; then trueA else falseA'></div>

                <ng-template #trueA>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="assets/No_Image/No_image_available.png" (mouseover)="showoverview(true,j)" (mouseout)="mouseout()" >
                </ng-template>
                <ng-template #falseA>
                  <img  class="mat-card-image" mat-card-image="" tabindex="0" src="https://image.tmdb.org/t/p/w500/{{i.poster_path}}" (mouseover)="showoverview(true,j)"  (mouseout)="mouseout()">
                </ng-template>
              </ng-template>




              <mat-grid-tile-footer  class="mat-grid-tile-footer"><div class="mat-grid-list-text"></div>{{i.title}}</mat-grid-tile-footer>

            </figure></mat-grid-tile>
        </mat-grid-list>
        <!--{{items.data | json}}
           {{items.data.total_results}}-->

      <div *ngIf="items.data.recommendations.total_pages > 1; then truepag else falsepag"></div>
      <ng-template #truepag>
        <mat-paginator [length]="items.data.recommendations.total_results"
                       [pageSize]="items.data.recommendations.results.length"
                       [pageSizeOptions]=""
                       [pageIndex]="0"
                       (page)= "change_page($event)">

        </mat-paginator>


      </ng-template>
      <ng-template #falsepag>

      </ng-template>






    </mat-tab>
    <mat-tab label="Tab 7">
      <ng-template mat-tab-label>
        <mat-icon>thumb_down</mat-icon>
      </ng-template>
      {{items.data.reviews|json}}


      <mat-grid-list class="mat-grid-list" cols="1" guttersize="5px" rowWidth="100px" rowHeight="300px">
        <mat-grid-tile *ngFor="let i of items.data.reviews.results"   class="mat-grid-tile" aria-describedby="cdk-describedby-message-75" cdk-describedby-host="">
          <div class="mat-grid-list-text"><p>{{i.author}} :</p> <p>{{i.content}}</p></div>
        </mat-grid-tile>
      </mat-grid-list>



    </mat-tab>
    <mat-tab label="Tab 8">
      <ng-template mat-tab-label>
        <mat-icon>thumb_down</mat-icon>
      </ng-template>
      {{items.data.external_ids|json}}
    </mat-tab>
  </mat-tab-group>


  </mat-sidenav-content>
  </mat-sidenav-container>
</div>
