.example-container {
  position: absolute;
  top: 5vw;
  left: 2vw;
  right: 2vw;
  bottom:0vw;
  background: #eee;

}

figure.mat-figure{


}
.mat-card-image{
  display: block;
  max-width: px;
  max-height: px;
  position: relative;
  top: 30px;
  left: 30px;
  right: 10px;
  bottom: 30px;
}

.top-left {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 7px;
  color: white;
  height: 780px;
  width: 410px;
  background-color: gray;
  opacity: 0.9;
  max-font-size: 2px;

  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  border: 20px gray double;
}
mat-paginator{
  background-color: black;
  color: lightgreen;
  font-size: 18px;
}

.star_rate{

  color: yellow;
  font-size: 30px;
}


.vote-list{
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  border: 20px gray double;

}



div.background-image{


  width: 96vw;
  height:42vw;
  background-size: 100%;
  background-repeat: no-repeat;

  image-rendering: optimizeSpeed;
}

div.details_information{
  position: absolute;
  top: 0vw;
  bottom: 0vw;
  left: 0vw;
  right:0vw;
  background-color: black;
  opacity: 0.75;
}
.secondary-image {
  position: absolute;
  flex: border-box;
  top: 2vw;
  bottom: 0vw;
  left: 4vw;
  right: 0vw;
  image-rendering: optimizeSpeed;

  width: --webkit-fill-available;
  height: --webkit-fill-available;
}
div.information{
  position:absolute;
  top: 2vw;
  bottom: 0vw;
  left: 35vw;
  right: 0vw;
  color: white;
}
mat-chip.chips-color {

  background-color: lightgreen;
  color:black;
}


.vote_average_spinner::ng-deep circle {
  stroke: lightgreen;
}





