.example-container {
  position: absolute;
  top: 8vw;
  left: 10vw;
  right: 10vw;
  bottom:0vw;
  background: #eee;

}
.mat-card-image{
  display: block;
  max-width: px;
  max-height: px;
  position: relative;
  top: 30px;
  left: 30px;
  right: 10px;
  bottom: 30px;
}


