div.overview_vision{

  size : 40vw;
  background-color: gray;
}
div.class-especial{

  position:relative;

}
.vote-list{
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  border: 20px gray double;

}

.star_rate{

  color: yellow;
  font-size: 30px;
}

.title{

  font-size: 25px;
}
.top-left {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  height: 785px;
  width: 440px;
  background-color: gray;
  opacity: 0.9;
  max-font-size: 2px;

  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  border: 20px gray double;
}
mat-paginator{
  background-color: black;
  color: lightgreen;
  font-size: 18px;
}
.icon-title{

  font-size:30px;
}
